.search_box
  %form
    %input.search_box__input{placeholder: "キーワードを入力", type: "text"}
    %button.search_box__btn{type: "submit"}
      = icon('fas', 'search')

.contents
  .content
    .content__product-name
      りんご
    %img.content__image{src: "http://placehold.it/350x200"}
    .content__user
      .content__user--store
        熊本
      .content__user--name
        田中

  .content
    .content__product-name
      りんご
    %img.content__image{src: "http://placehold.it/350x200"}
    .content__user
      .content__user--store
        熊本
      .content__user--name
        田中

  .content
    .content__product-name
      りんご
    %img.content__image{src: "http://placehold.it/350x200"}
    .content__user
      .content__user--store
        熊本
      .content__user--name
        田中

.footer
  .post-btn
    投稿する
    = icon('fas', 'pen')
  .my-page
    マイページ
    = icon('fas', 'user')